@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

  header{
    background-color:aqua;
  }
  .menu{
    display: block;
  }
  .menu ul{
    display: flex;
    align-items: center;
    gap: 10px;

  }

  /* ===BOTÂO HAMBURGUER===*/
.hamburguer{
  display: none;
}
.menu-mobile{
  display: none;

}


/* Modal */
dialog {
    
  border: none;
  width: 350px;
  margin: auto;
  border-radius: 24px;
  padding: 20px;
  background-color: #202753;
}
    
    
    
    
}

@media screen and (min-width:992px) and (max-width:1200px) {

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}
  header{
    background-color: blue;
  }

  .menu{
    display: block;
  }
  .menu ul{
    display: flex;
    align-items: center;
    gap: 10px;

  }
    /* ===BOTÂO HAMBURGUER===*/
.hamburguer{
  display: none;
}

.menu-mobile{
  display: none;

}


/* Modal */
dialog {
    
  border: none;
  width: 350px;
  margin: auto;
  border-radius: 24px;
  padding: 20px;
  background-color: #202753;
}
   
  
    
      
}


/* ===Telas maiores ===*/
@media screen and (min-width:1200px) {

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}
  header{
    
  }
  .menu{
    display: block;
  }
  .menu ul{
    display: flex;
    align-items: center;
    gap: 10px;

  }
    /* ===BOTÂO HAMBURGUER===*/
.hamburguer{
  display: none;
}

.menu-mobile{
  display: none;

}

/* Modal */
dialog {
    
  border: none;
  width: 350px;
  margin: auto;
  border-radius: 24px;
  padding: 20px;
  background-color: #202753;
}
   
  
   
}
